
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

button,
input {
  -webkit-tap-highlight-color: transparent;
  transition: all 0.14s;
}

body {
  font-family: var(--font-family-primary);
}
